/* Define que todas as margens e preenchimentos dos elementos sejam removidos */
* {
    margin: 0;
    padding: 0;
}

/* Define a fonte padrão para o corpo do documento */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para o ícone do menu */
.icon {
    width: 35px;
    height: 35px;
    /* Centraliza o conteúdo do ícone */
    display: grid;
    place-content: center;
    padding: 3px;
}

/* Estilos para o ícone do menu de hambúrguer */
.efect {
    width: 30px;
    height: 30px;
    /* Centraliza as três linhas horizontais do ícone */
    display: grid;
    gap: 5px;
    place-content: center;
    /* Arredonda as bordas para criar um círculo */
    border-radius: 50%;
    padding: 5px;
    /* Altera o cursor para indicar que o ícone é clicável */
    cursor: pointer;
}

/* Estilos para as linhas horizontais do ícone do menu */
.efect span {
    width: 25px;
    height: 3px;
    background-color: black;
    /* Arredonda as extremidades das linhas */
    border-radius: 20px;
}

/* Estilos para o ícone do menu quando é hoverado */
.efect:hover {
    background-color: aliceblue;
}

/* Animação para as linhas do ícone do menu quando o menu é alternado */
.animationX span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.animationX span:nth-child(2) {
    opacity: 0;
}

.animationX span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* Estilos para o conteúdo principal da página */
main {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* Centraliza o conteúdo principal */
    display: grid;
    place-content: center;
    margin-top: 100px;
}

/* Estilos para o menu de navegação */
.nav-menu {
    position: absolute;
    left: -30px;
    width: 100px;
    margin-top: 80px;
    /* Move o menu para fora da tela inicialmente */
    transform: translateX(-300px);
    /* Adiciona uma transição suave ao menu */
    transition: all ease 0.5s;
    z-index: 1;
}

/* Classe usada para exibir o menu quando é clicado */
.exibir {
    transform: translateX(0);
}

/* Estilos para a lista de itens de menu */
.nav-menu ul {
    top: 0;
    width: 100px;
    margin-left: 40px;
    list-style-type: none;
    /* Organiza os itens de menu em uma grade */
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 30px 30px 30px 30px 30px;
    /* Centraliza os itens de menu */
    place-content: center;
}

/* Estilos para os itens de menu */
.nav-menu li {
    display: grid;
    place-content: center;
}

/* Estilos para os links dos itens de menu */
.nav-menu a {
    text-decoration: none;
    color: black;
}

/* Estilos para os links dos itens de menu quando hoverados */
.nav-menu a:hover {
    color: blue;
}
