html {
    width:90vw;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgba(47, 110, 110, 0.788)

}
fieldset {
    display: flex;
    flex-direction:column;
    width:500px;
    padding:10px;
    font-weight: bold;
    background-color:rgba(220, 220, 220, 0.815);
    margin-bottom:10px;

}
input {
    width:200px;
    margin-bottom:5px;
}
button {
    width:fit-content;
    margin-bottom:10px;
}
legend {
    font-size:20px;
    text-align:center;
}
main {
    width:100%;
    /* border:1px solid black; */
    margin-bottom:10px;
}
.content {
    text-align:center;
    padding:5px;
    display:none;
}